export GEMFIRE=~/Installations/GF70/vFabric_GemFire_70_b38623
export PATH=$PATH:$GEMFIRE/bin
export GF_JAVA=$JAVA_HOME/bin/java
export PROJ_PATH=~/Documents/workspace-sts-3.1.0.RELEASE/SpatialIndex
export CLASSPATH=$GEMFIRE/lib/gemfire.jar:$GEMFIRE/lib/antlr.jar:$GEMFIRE/lib/gfSecurityImpl.jar:$PROJ_PATH/bin:$PROJ_PATH/lib/openmap.jar

